<form method="post" action="{{ path('app_client_arcade_delete', {'id': client_arcade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client_arcade.id) }}">
    <button class="btn">Usuń</button>
</form>
